body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
    background:linear-gradient(to bottom, #ff3399 0%, #660033 100%);
    font-family:Arial,sans-serif;
}
.calculator{
    background:rgb(20, 12, 12);
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}
.display{
    width:240px;
    height:60px;
    background:#424242;
    color:#fff;
    font-size:28px;
    text-align:right;
    padding:10px;
    border-radius:8px;
    margin-bottom:15px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 60px;
    gap: 12px;
}

button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #d1c3c3;
}

.operator{ background:#ff9500; color:white; }
.clear{ background:#ff3b30; color:white; }
.equals{ background:#34c759; color:white; }